
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body{
	background-color:#040404;
	font-family: 'Poiret One', cursive, Monospace;
	color:#E46A6B;
}

#title{
	font-size:75px;
}





