
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body{
	background-color:#040404;
	font-family: 'Press Start 2P', cursive, Monospace;
	color:#E46A6B;
}

#title{
	font-size:50px;
}





